.footer-box{
    min-height:300px;
    background-color:rgb(28,29,33);
    width:100%;
}

.footer-wrapper{
    padding: 60px 20px;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.footer-logo{
    margin-bottom: 10px;
}
.footer-title{
    font-size: 1.3rem;
    color:white;
    font-weight:700;
    margin-top: 15px;
}

.footer-text{
    color:rgb(97,149,255);
    margin-top: 5px;
    position: relative;
    margin-left:20px;
}

.footer-text::before{
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    background-color:rgb(97,149,255);
    position: absolute;
    top: 40%;
    left: -20px;
    border-radius: 999px;
}

.footer-attribute{
    font-size: 0.8rem;
    margin-top: 20px;
    color:gray
}