.nav-bar{
    position:sticky;
    z-index:999;
    top:0px;
    height:50px;
    padding: 10px;
    max-width:100%;
    transition:background-color 0.2s, height 0.2s ;
}
.nav-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width:1000px;
    height:100%;
    margin-left: auto;
    margin-right: auto;
}
.active{
    background-color:black;
    height:40px;
}

.nav-items{
    display: flex;
    justify-content: end;
}

.nav-item{
    margin-left: 25px;
    cursor: pointer;
    position: relative;
    color: rgb(222, 222, 222);
    font-size: 0.8rem;
    font-weight: 600;
    transition:color 0.3s;
}

.nav-item::before{
    content: "";
    display: block;
    background-color:rgb(97,149,255);
    position:absolute;
    bottom: -50%;
    width: 0;
    height: 1.5px;
    transition: width 0.3s;
}

.nav-item:hover{
    color:white;
}
.nav-item:hover::before{
    width:100%;
}

.nav-menu-bt{
    display: none;
    cursor: pointer;
    color:white;
    z-index:999;
}

.nav-close-bt{
    display: none;
    cursor: pointer;
    color:white;
    z-index:999;
}
/* navlet mode */
@media only screen and (max-width:800px){
    /* .nav-bar{
    } */
    .nav-items{
        flex-direction: column;
        position:absolute; 
        justify-content: start;
        top:0;
        padding-top:60px;
        margin-top: 0;
        margin-bottom:0;
        background-color: black;
        height:calc(100vh - 60px);
        right:-70%;
        transition:right 0.2s ;
        transition-timing-function:ease-in-out;
    }

    #menu:checked ~ .nav-items{
        right:0;
    }

    #menu:checked ~  .nav-close-bt{
        display:block;
    }

    #menu:checked ~  .nav-menu-bt{
        display:none;
    }
    .nav-item{
        margin:0;
        height:30px;
        padding:15px;
        padding-right: 50px;
        line-height:30px;
        border-bottom: 1px solid rgb(28, 28, 28);
        transition: background-color 0.3s;
        font-size: 1rem;
    }

    .nav-item:hover{
        background-color:rgb(97,149,255);
    }
/* remove bottomline */
    .nav-item::before{
        display: none;
    }

    .nav-menu-bt{
        display:block;
    }
    .nav-close-bt{
        display:none;
    }
    

}

/* mobile mode */
@media only screen and (max-width:600px){
    .nav-menu-bt{
        display:block;
    }

}
