.home-box{
    padding:0 20px;
/* image */
     background-image:
        linear-gradient(to bottom,rgba(0,0,0,0.7),rgba(0,0,0,0.7)),
        url("../../public/data/images/bg/bg.jpg")
    ;
    background-color:rgba(63, 63, 63, 0.7);
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    background-attachment: fixed;
    padding-bottom:80px;
}

.home-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    height:80vh;
    text-align: center;
    padding-top:25vh;
    /* transform:translateY(20%); */
    animation:home-loader 1.2s ;

}

.home-title{
    font-size: 4rem;
    text-align: center;
    font-weight: 700;
    color:white;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.home-text{
    color:rgb(106, 155, 255);
    font-size: 1rem;
    margin-top: 10px;
    font-weight: 500;
    transition:color 0.3s;
}

.home-bts{
    margin-top:40px;
    width: 260px;
    display: flex;
    justify-content: space-between;
}
.home-attend-bt, .home-submit-bt{
    border: none;
    width:120px;
    height:48px;
    border-radius: 0.2rem;
    line-height:40px;
    cursor: pointer;
    transition:background-color 0.3s;
}
.home-attend-bt{
    font-size: 1rem;
    color:black;
    background-color:white;
}
.home-attend-bt:hover{
    background-color: rgb(225, 225, 225);
}

.home-submit-bt{
    font-size: 1rem;
    color:white;
    background-color:rgb(97,149,255);
}

.home-submit-bt:hover{
    background-color:rgb(74, 114, 193);
}

@keyframes home-loader{
    0%{
        opacity: 0;

    }

    100%{
        opacity:1;
    }
}


@media only screen and (max-width:600px){
    .home-title{
        font-size: 3rem;
    }
}