.intro-box{
    background-color: white;
    margin-top: 50px;
    padding:100px 20px;
}

.intro-wrapper{
    max-width:1000px;
    margin-left:auto;
    margin-right:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro-title{
    display: inline-block;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom:60px;
    position: relative;
}

.intro-title::before{
    content: "";
    display: block;
    height:5px;
    width:30px;
    background-color: rgb(97,149,255);
    position:absolute;
    bottom:-20px;
    left:50%;
    transform:translate(-15px);
}

.intro-text{
    font-family:'Open Sans','san-serifs';
    line-height: 1.4rem;
    color:rgb(97,149,255);
}
