.keynote-box{
    position:fixed;
    height:100vh;
    width:100vw;
    top:0;
    left:0;
    background-color:rgba(0,0,0,0.7);
    z-index:3;
}

.inactive{
    display:none;
}

.keynote-content{
    max-height:70%;
    width:50%;
    background-color: white;
    margin:100px auto;
    padding:40px;
    border-radius: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center; 
    overflow-y: scroll;
}

.keynote-content::-webkit-scrollbar {
    display: none;
  }

.keynote-header{
    font-size: 1.5rem;
    font-weight: 700;
    color:rgb(97,149,255);
}

.keynote-bts{
    display:flex;
    width:200px;
    justify-content: space-between;
    margin-top: 20px;
}

.keynote-close-bt{
    display: flex;
    justify-content: center;
    align-items: center;
    width:90px;
    height:30px;
    border-radius:999px;
    cursor: pointer;
    border:1px solid rgb(232, 232, 232);
    transition:background-color 0.3s
}

.keynote-close-bt:hover{
    background-color: rgb(233, 233, 233);
}

.keynote-link-bt{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(97,149,255); 
    width:90px;
    height:30px;
    border-radius:999px;
    cursor: pointer;
    color:white;
    font-weight: 400;
    transition:background-color 0.3s
}

.keynote-link-bt:hover{
    background-color:rgb(76, 126, 227)
}

.keynote-title{
    font-weight: 500;
    text-align: center;
    margin-top: 20px;
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
}

.keynote-abstract span{
    font-size: 1rem;
    color:rgb(97,149,255);
    font-weight: 700;
    
}

.keynote-abstract{
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
}

.keynote-profile{
    margin-top: 20px;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    color:rgb(97,149,255);
}