
.org-box{
    max-width:1000px;
    margin-left:auto;
    margin-right:auto;
    margin-top: 180px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.org-title{
    font-size: 2rem;
    font-weight:700;
    text-align: center;
    color:white;
    position: relative;
}

.org-title::before {
    content: "";
    display: block;
    height: 5px;
    width: 30px;
    background-color: rgb(97,149,255);
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translate(-15px);
}

.org-wrapper{
    margin-top: 100px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;    
    row-gap: 30px;
}