.speaker-card-box{
    width:90%;
    height:400px;
    background-color: white;
    margin-left:auto;
    margin-right:auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    transition:background-color 0.3s;
}

.speaker-detail{
    width:40px;
    height:40px;
    position:absolute;
    background-color: rgb(97,149,255);
    color:white;
    top:30px;
    right:12px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity:0;
    transition:opacity 0.3s;
    cursor: pointer;
}
.speaker-detail > svg{
    transform:rotate(-45deg);
}

.speaker-img{
    margin-top:30px;
    margin-bottom:20px;
    width:90%;
    /* height:280px; */
    object-fit: contain;
}

.speaker-info{
    max-width:90%;
}

.speaker-name{
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
    transition:color 0.3s;
}

.speaker-insti{
    text-align: center;
    font-size: 0.8rem;
    transition:color 0.2s;
    margin-bottom: 20px;
}

.speaker-card-box:hover{
    background-color: black;
}

.speaker-card-box:hover .speaker-detail{
    opacity:1;
}

.speaker-card-box:hover .speaker-name{
    color:white;
}

.speaker-card-box:hover .speaker-insti{
    color:rgb(97,149,255);
}
.overlay{
    width:90%;
    height:68%;
    position:absolute;
    top:30px;
    opacity:0;
    transition:opacity 0.3s;
}
.speaker-card-box:hover .overlay{
    background-color: black;
    opacity:0.4;
}
