.speaker-card-box{
    width:80%;
    height:400px;
    background-color: white;
    margin-left:auto;
    margin-right:auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    transition:background-color 0.3s;
    padding:0 10px;
}

.speaker-detail{
    width:40px;
    height:40px;
    position:absolute;
    background-color: rgb(97,149,255);
    color:white;
    top:0;
    /* right:12px; */
    right:0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity:0;
    transition:opacity 0.3s;
    z-index:2;
    cursor: pointer;
}

.speaker-detail > svg{
    transform:rotate(-45deg);
}

.speaker-info{
    max-width:90%;
}

.speaker-name{
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
    transition:color 0.3s;
}

.speaker-insti{
    text-align: center;
    font-size: 0.8rem;
    transition:color 0.2s;
    margin-bottom: 20px;
}

.speaker-card-box:hover{
    background-color: black;
}

.speaker-card-box:hover .speaker-detail{
    opacity:1;
}

.speaker-card-box:hover .speaker-name{
    color:white;
}

.speaker-card-box:hover .speaker-insti{
    color:rgb(97,149,255);
}
.speaker-overlay{
    width:100%;
    height:100%;
    opacity:0;
    transition:opacity 0.3s;
    position:absolute;
    z-index:1;
}
.speaker-card-box:hover .speaker-overlay{
    background-color: black;
    opacity:0.4;
}


/* @media only screen and (max-width:600px){
    .overlay{
        height:0%;
    }
} */
